<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>PetLandia</title>

        <link rel="icon" href="/images/huellas-de-garras.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/images/huellas-de-garras.ico" type="image/x-icon">
        
        <!-- Links -->
        <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
        <script>
            // Función para mostrar la imagen seleccionada
            function previewImage(event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var preview = document.getElementById('preview');
                    preview.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/crear.css">
        <link rel="stylesheet" href="/css/normalize.css"> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/responsive.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %> <!--include header-->

        <main>
            <div class="all-form">
                <div class="prod-top">
                    <h2>Edicion articulo</h2>
                </div>
                <form action="/producto/editar/<%=productoEnEdicion.ID%>?_method=PUT" method="POST" enctype="multipart/form-data" class="public-form" id="editar-form">
                    <div class="prod-name">
                        <label>Nombre del producto:</label>
                        <input type="text" id="name" name="Nombre" value="<%=productoEnEdicion.Nombre%>" >
                        <div class="color-alert" id="nombreError"></div>
                    </div>
                    <div class="prod-price-disc">
                        <div class="prod-price">
                            <label>Precio:</label>
                            <input type="text" id="Price" name="Precio" value="<%=productoEnEdicion.Precio%>" >
                            <div class="color-alert" id="precioError"></div>
                        </div>
                        <div class="prod-disc">
                            <label>Descuento:</label>
                            <input type="text" id="Discount" name="Descuento" value="<%=productoEnEdicion.Descuento%>">
                            <div class="color-alert" id="descuentoError"></div>
                        </div>
                        <div class="prod-stock">
                            <label>Stock:</label>
                            <input type="text" id="Stock" name="Stock" value="<%=productoEnEdicion.Stock%>">
                            <div class="color-alert" id="stockError"></div>
                        </div>
                    </div>
                    <div class="prod-cat">
                        <label>Categoria:</label>
                        <select name="Categoria" class="product-select" >
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.ID %>" 
                                    <% if (productoEnEdicion.Categoria_FK == categoria.ID) { %>selected<% } %> >
                                    <%= categoria.Nombre %>
                                </option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="prod-cat">
                        <label>Animal:</label>
                        <select name="Animal" class="product-select" >
                            <% animales.forEach(animal => { %>
                                <option value="<%= animal.ID %>" 
                                    <% if (productoEnEdicion.Animal_FK == animal.ID) { %>selected<% } %> >
                                    <%= animal.Nombre %>
                                </option>
                            <% }); %>
                        </select>

                    </div>

                    <div class="prod-cat">
                        <label>Marca:</label>
                        <select name="Marca" class="product-select" >
                            <% marcas.forEach(marca => { %>
                                <option value="<%= marca.ID %>" 
                                    <% if (productoEnEdicion.Marca_FK == marca.ID) { %>selected<% } %> >
                                    <%= marca.Nombre %>
                                </option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="prod-envio">
                        <label>Envio:</label>
                        <input type="text" id="shiping" name="Envio" value="<%=productoEnEdicion.Envio%>" >
                        <div class="color-alert" id="envioError"></div>
                    </div>

                    <div class="prod-desc">
                        <label>Descripcion:</label>
                        <textarea rows="5" id="Description" name="Descripcion"><%=productoEnEdicion.Descripcion%></textarea>
                        <div class="color-alert" id="descripcionError"></div>
                    </div>

                    <div class="prod-photo">
                        <label>Foto:</label>
                        <input type="file" id="foto_perfil" name="imagenProducto" onchange="previewImage(event)" accept="image/*" data-has-image="false">
                        <div class="color-alert" id="fotoError"></div>
                    </div>
                    <div class="preview-image">
                        <div class="image-container" onclick="document.getElementById('foto_perfil').click()">
                            <img id="preview" src="<%=productoEnEdicion.Imagen%>" alt="">
                        </div>
                    </div>

                    <div class="create-buttons">
                        <button class="public" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %> <!-- include footer -->

        <script src="/js/editarArticuloValidaciones.js"></script>
    </body>
</html>