<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>PetLandia</title>
        
        <!-- Links -->
        <script src="https://kit.fontawesome.com/b29db1d018.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/perfil.css">
        <link rel="stylesheet" href="/css/normalize.css"> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/responsive.css">
    </head>

    <body>
        <%- include('./partials/header.ejs') %> <!--include header-->

        <main class="chart-ubi">
            <div class="main-chart">
                <div class="up-chart">
                    <h2>Perfil <i class="fa-regular fa-user icon-size"></i></h2>
                </div>
                <div class="profile-container">
                    <div class="profilePicture">
                        <img src="<%= usuario.Imagen %>" alt="">
                    </div>
                    <div class="profilename">
                        <%= usuario.Nombre %> <%= usuario.Apellido %>
                    </div>
                    <% if(usuario.Rol_FK == 3){ %>
                    <div class="profile-admins">
                        <h4>Cambio roles empleados</h4>
                        <form id="adminRoleForm" method="POST">
                            <div class="user-mail">
                                <label for="email">Email usaurio:</label>
                                <input type="text" id="email" name="email">
                            
                                <div class="user-rol">
                                    <label for="newRole">Nuevo Rol:</label>
                                    <select id="newRole" name="newRole">
                                        <option value="1">Cliente</option>
                                        <option value="2">Administrador</option>
                                        <option value="3">Super-admin</option>
                                    </select>
                                </div>
                            </div>
                    
                            <button class="btn-submit-rol" type="submit">Cambiar Rol</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %> <!--include footer-->
        <script src="/js/validacionesCambioRol.js"></script>

    </body>
</html>
