<header>
    <!--Menu superior-->
    <div class="main-header-top-bar">
        <a href="/"><img src="/images/PetLandia-V3 (1).png" alt="logo-PetLandia" class="logo"></a> 

        <form action="/producto/buscar" method="get" class="main-search">
            <!--HACER ANDAR LA SEARCHBAR-->
            <input class="search-bar" type="search" name="q" placeholder="   Buscar">
            <button class="button-search-bar" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form>

        <div class="hamburger-button">
            <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"></i></label>
            <input type="checkbox" id="btn-nav">

            <nav class="nav-right-menu">
                <ul class="navigation">
                    <% if(locals.logeado && locals.usuarioLogeado){ %>
                        <div class="user-profile">
                            <img src="<%= locals.usuarioLogeado.Imagen %>" alt="Foto de Usuario">
                            <div class="user-name">
                                <p><%= locals.usuarioLogeado.Nombre %> <%= locals.usuarioLogeado.Apellido %></p>
                            </div>
                        </div>
                        <li><a href="/usuario/perfil"><i class="fa-solid fa-user"></i> Perfil</a></li>
                        <li><a href="/usuario/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion</a></li>
                    <% } else{ %>
                        <li><a href="/usuario/login"><i class="fa-solid fa-user"></i> Ingresar</a></li>
                        <li><a href="/usuario/register"><i class="fa-regular fa-user"></i> Registrate</a></li>
                    <% } %>
                    <% if(locals.logeado && locals.usuarioLogeado.Rol_FK == 3){ %>
                        <li><a href="/producto/crear"><i class="fa-solid fa-circle-plus"></i> Publicar articulo</a></li>
                    <% } else if(locals.logeado && locals.usuarioLogeado.Rol_FK == 2){ %>
                        <li><a href="/producto/crear"><i class="fa-solid fa-circle-plus"></i> Publicar articulo</a></li>
                    <% } %>
                    <li><a href=""><i class="fa-solid fa-star"></i> Favoritos</a></li>
                    <li><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i> Carro</a></li>
                </ul>
            </nav>
        </div>

        <nav class="main-top-bar">
            <ul class="ul-menu">
                <% if(locals.logeado && locals.usuarioLogeado){ %>
                    <div class="menu">
                        <ul>
                            <li class="dropdown">
                                <div class="user-info-head">
                                    <img src="<%= locals.usuarioLogeado.Imagen %>" alt="Foto de Usuario">
                                    <div class="user-details">
                                        <p><%= locals.usuarioLogeado.Nombre %> <%= locals.usuarioLogeado.Apellido %></p>
                                    </div>
                                </div>
                                <div class="dropdown-content">
                                    <a href="/usuario/perfil">Perfil</a>
                                    <a href="/usuario/logout">Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                <% } else{ %>
                <li><a href="/usuario/login">LogIn</a></li>
                <li><a href="/usuario/register">Sign up</a></li>
                <% } %>
                <% if(locals.logeado && locals.usuarioLogeado.Rol_FK == 3){ %> 
                    <li><a href="/producto/crear" class="add-article">Publicar articulo</a></li>
                <% } else if(locals.logeado && locals.usuarioLogeado.Rol_FK == 2){ %>
                    <li><a href="/producto/crear" class="add-article">Publicar articulo</a></li>
                <% } %>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>

    <!--Menu desplegable-->
    <nav class="main-bottom-bar">
        <ul class="nav-menu">
            <li><a href="#">Mascotas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Productos <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Marcas <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
            <li><a href="#">Servicios <i class="fa-solid fa-angle-down"></i></a>
                <ul class="nav-submenu">
                    <li><a href="#">Servicio #1</a></li>
                    <li><a href="#">Servicio #2</a></li>
                    <li><a href="#">Servicio #3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>